<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
</head>

<body>
    <div id="app"></div>


    <script>
        Vue.component("iSwitch", {
            props: {
                value: null
            },
            template: `
                <div class="switch" @click="ivalue=!ivalue">
                    <span v-if="ivalue">开</span>
                    <span v-else>关</span>
                </div>
            `,
            watch: {
                value() {
                    this.ivalue = this.value;
                },
                ivalue() {
                    this.$emit("input", this.ivalue);
                }
            },
            data() {
                return {
                    ivalue: this.value,
                }
            },
            methods: {
                
            }
        })

        var vm = new Vue({
            el: "#app",
            template: `
                <div>
                    <span>{{xx}}</span>
                    <iSwitch v-model="xx" />
                </div>
            `,
            data: {
                xx: false
            },
        })
    </script>
</body>

</html>